#!/usr/bin/env bash
set -euo pipefail

{{ template "log" . }}

info "Setting default app associations"

{{ range $app, $targets := .associations }}
{{ range $target := $targets }}
duti -s {{ $app }} {{ $target }} all || warn "Failed to set {{ $app }} as handler for {{ $target }}"
{{ end }}
{{ end }}

success "Default app associations set"
