#!/usr/bin/env bash
set -euo pipefail

{{ template "log" . }}

{{ if .packages.taps }}
info "Adding taps"
{{ range .packages.taps }}
brew tap {{ . | quote }}
{{ end }}
success "Taps added"
{{ end }}

{{ if .packages.brews }}
info "Installing formulae"
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.brews }}
brew {{ . | quote }}
{{ end }}
EOF
success "Formulae installed"
{{ end }}

{{ if .packages.casks }}
info "Installing casks"
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.casks }}
cask {{ . | quote }}
{{ end }}
EOF
success "Casks installed"
{{ end }}

{{ if and .packages.mas .installAppsFromAppStore }}
info "Installing MAS apps"
brew bundle --file=/dev/stdin <<EOF
{{ range $name, $id := .packages.mas }}
mas {{ $name | quote }}, id: {{ $id }}
{{ end }}
EOF
success "MAS apps installed"
{{ end }}

{{ if .packages.vscode }}
info "Installing VSCode extensions"
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.vscode }}
vscode {{ . | quote }}
{{ end }}
EOF
success "VSCode extensions installed"
{{ end }}
