{
  "buffer_font_family": "JetBrainsMonoNL Nerd Font Mono",
  "disable_ai": true,
  "session": {
    "trust_all_worktrees": true,
  },
  "telemetry": {
    "diagnostics": false,
    "metrics": false,
  },
  "title_bar": {
    "show_onboarding_banner": false,
    "show_sign_in": false,
  },
  "ui_font_family": "JetBrainsMonoNL Nerd Font Mono",
}
