{
  "cli_default_open_behavior": "new_window",
  "buffer_font_family": "JetBrainsMonoNL Nerd Font Mono",
  "collaboration_panel": {
    "button": false,
  },
  "disable_ai": true,
  "git_panel": {
    "dock": "left",
  },
  "outline_panel": {
    "dock": "left",
  },
  "project_panel": {
    "dock": "left",
  },
  "session": {
    "trust_all_worktrees": true,
  },
  "telemetry": {
    "diagnostics": false,
    "metrics": false,
  },
  "title_bar": {
    "show_onboarding_banner": false,
    "show_sign_in": false,
  },
  "ui_font_family": "JetBrainsMonoNL Nerd Font Mono",
}
