Include ~/.orbstack/ssh/config

Host *
    ControlMaster auto
    ControlPath ~/.ssh/sockets/%r@%h-%p
    ControlPersist 10m

    ServerAliveCountMax 3
    ServerAliveInterval 60

    SetEnv TERM=xterm-256color

    StrictHostKeyChecking accept-new
