["skills/agent-browser"]
type = "archive"
url = "https://github.com/vercel-labs/agent-browser/archive/refs/heads/main.tar.gz"
stripComponents = 3
include = ["*/skills/agent-browser/**"]
refreshPeriod = "168h"

["skills/doc-coauthoring"]
type = "archive"
url = "https://github.com/anthropics/skills/archive/refs/heads/main.tar.gz"
stripComponents = 3
include = ["*/skills/doc-coauthoring/**"]
refreshPeriod = "168h"

["skills/frontend-design"]
type = "archive"
url = "https://github.com/anthropics/skills/archive/refs/heads/main.tar.gz"
stripComponents = 3
include = ["*/skills/frontend-design/**"]
refreshPeriod = "168h"
