{{- with dig "githubToken" "" .secrets -}}
githubUsername=yegor-usoltsev
githubToken={{ . | replace "\\" "\\\\" }}
{{ end -}}
{{- with dig "giteaToken" "" .secrets -}}
giteaUsername=yegor
giteaToken={{ . | replace "\\" "\\\\" }}
{{ end -}}
