clipboard-paste-protection = false
confirm-close-surface = false
font-family = JetBrainsMonoNL Nerd Font Mono
minimum-contrast = 1.1
quit-after-last-window-closed = true
shell-integration-features = cursor,ssh-terminfo,ssh-env,sudo,title
theme = TokyoNight Night
window-height = 29
window-width = 107
