{
  "permissions": {
    "defaultMode": "bypassPermissions"
  },
  "statusLine": {
    "type": "command",
    "command": "sh {{ .chezmoi.homeDir }}/.claude/statusline.sh"
  },
  "autoMemoryEnabled": false,
  "skipDangerousModePermissionPrompt": true,
  "mcpServers": {
    "context7": {
      "type": "http",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "{{ (index (rbwFields "context7.com") "API key").value }}"
      }
    }
  }
}
