{
  "editor.fontFamily": "JetBrainsMono Nerd Font",
  "editor.fontLigatures": false,
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "extensions.ignoreRecommendations": true,
  "git.confirmSync": false,
  "security.workspace.trust.enabled": false,
  "telemetry.telemetryLevel": "off",
  "terminal.integrated.fontFamily": "JetBrainsMono Nerd Font",
  "update.showReleaseNotes": false,
  "window.confirmBeforeClose": "never",
  "workbench.secondarySideBar.defaultVisibility": "hidden"
}
